body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background: url('https://i.ibb.co/FBdS71f/maths-billing-calculator-4.jpg') repeat;
    background-size: 480px;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 10, 0);
    padding: 20px;
    max-width: 400px;
    margin: auto auto;
}

h1 {
    color: #333;
}

form {
    text-align: center;
    margin-top: 20px;
    margin-right: 20px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
#payment_method
{
    width: 100%;
    padding: 12px;
    border: none;
    border: 2px solid #007bff;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    color: black;
    margin-top: 5px;
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 12px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    background-color: #0056b3;
}

button:hover {
    background-color: #003d80;
}

/* Style the date input field */
#input_value1, #input_value2, #input_value3 {
    width: 100%;
    padding: 12px;
    border: none;
    border: 2px solid #007bff;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    color: black;
}

/* Style the label associated with the date input */
label[for="input_value2"] {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

input[type="submit"] {
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
    /* Adjust styles for screens up to 768px wide */
    .container {
        max-width: 100%;
        padding: 10px;
        background-size: 300px; /* Adjust background size for smaller screens */
    }
}

@media screen and (max-width: 480px) {
    /* Adjust styles for screens up to 480px wide */
    .container {
        padding: 5px;
        background-size: 200px; /* Adjust background size for even smaller screens */
    }
}
